@import url("http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

.navbar {
  background: #fff;
  margin-bottom: 20px;
}

.navbar img {
  height: 40px;
  width: 50px;
}

.search-bar {
  border-radius: 1px;
  background: #fff;
}

.search-bar .form-control {
  border-radius: 2px;
  width: 75%
}
.search-bar .btn {
  border-radius: 1px;
  border-color: #d3d3d3;
  background: #f8f8f8;
  width: 25%;
  margin-left: -4px;
}

.search-bar .btn:hover {

  border-color: #c6c6c6;
  background: #f0f0f0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.10);

}

.movie-list {
  background: #fff;
  padding: 8px;
  border: 0;
  box-shadow: 0 1px 2px rgba(0,0,0,.5);
}

.movie-list-entry {
  font-size: 16px;
  padding: 8px;
  text-align: center;
  transition: background 0.25s;
}
.movie-list-entry:hover {
  background: lightgrey;
}

.movie-list-entry-title {
  font-weight: bold;
}