@import url("http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");
input::-webkit-input-placeholder {
  transition: color 0.3s;
}
input:focus::-webkit-input-placeholder {
  color:transparent;
}

.search-bar .form-control {
    width: 100%;
    box-shadow: 0 1px 2px rgba(0,0,0,.5);
    background-image: url(https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-16.png);
    background-position: 10px center;
    background-repeat: no-repeat;
    border: 1px solid #ccc;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
    padding: 10px 5px;
    text-indent: 20px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 2s;
    transition: all 0.3s;
}
.search-bar .form-control:focus {
    background-position: -20px center;
    text-indent: 10px;
}

/*.search-bar .btn {
  border-radius: 1px;
  border-color: #d3d3d3;
  background: #f8f8f8;
  width: 25%;
  margin-left: -4px;
}

.search-bar .btn:hover {

  border-color: #c6c6c6;
  background: #f0f0f0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.10);

}*/

.movie-list {
  background: #fff;
  padding: 8px;
  border: 0;
  box-shadow: 0 1px 2px rgba(0,0,0,.5);
}

.movie-list-entry {
  font-size: 16px;
  padding: 8px;
  text-align: center;
  transition: background 0.25s;
}
.movie-list-entry:hover {
  background: lightgrey;
}

.movie-list-entry-title {
  font-weight: bold;
}